.search_bar{
	width: 70%;
	padding-left: 20%;
	margin-top: 10px;
}
.sign_up{
	margin-bottom: 10px;
}
.user_profile{
	padding: 5px;
}

.media-object{
	width: 195px;
	height: 195px;
}
.media{
	float: left;
    /*width: 150px;*/
    /*height: 75px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

      /*padding*/
    background-color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border: 1px solid white;
    box-shadow: 2px 2px 4px grey;  
    border-radius: 20px;
}
.abstract-tu{
	text-indent: 1em;
}

.space-pager{
	position: relative;
	/*padding: 20px;*/
	/*top: 3px;*/
	margin-top: 3px;
	/*bottom: 3px;*/
}

.interest{
	padding-top: 40px;
}
.abstract{
	padding-right: 60px;
	padding-top: 30px;
	
}

.background{
	background-color: #f7f7f7;
}

.left-alien{
	text-align: left;
	padding: 0px;
}

.right_col{
	margin-top: 20px;
}
.grey{
	color: #a8a6a5;
	font-size: 12px;
}
