.article-text-entry {
}

.article-submit{
    margin: 20px auto;
}

.article-cancel{
    margin: 20px auto;
}
.article-newComment {
	background-color: rgba(61, 144, 61, .1);
    box-shadow: 2px 4px #888888;
}
.article-comment {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    height: 150px;
    background-color: rgba(61, 61, 61, .1);
    box-shadow: 2px 4px #888888;
}

.comment-profile {
	width: auto;
	height: 100%;
	float: left;
}

.comment-username {
	max-height: 25%;
	margin-left: 5%;
	width: 35%;
	float: left;
	font-size: 14;
	font-weight: bold;
}
.comment-time {
	max-height: 25%;
	width: 25%;
	float: left;
	font-style: italic;
	font-size: 10;
}
.comment-rating {
	max-height: 25%;
	width: 10%;
	float: right;
	font-style: normal;
	font-size: 12;
	font-weight: bold;
	clear: right;
}
.comment-ratingYours {
	max-height: 25%;
	width: 35%;
	float: right;
	font-style: normal;
	font-size: 12;
	font-weight: bold;
	text-align: right;
}
.comment-button {
	width: 5%;
	font-size: 24;
	font-weight: bolder;
	float: right;
}
.comment-rest {
	margin-left: 15%;
}
.comment-body {
	max-height: 75%
	margin-left: 5px;
	font-size: 12;
	float: left;
}
.comentbox{
	width: 70%;
	background-color: grey;
}

.pageHeader{
  padding-bottom: 1%;
}

.article_header{
	padding-left:10px; 
}
.vertical_line{
	border-left: 3px solid #bdc3c7;
	margin: 1.5%

}
.h4_header{
	padding-left: 10px;
	color: #a19f9e;
}